<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>language</key>
	<string>zh-sim</string>
	<key>sound</key>
	<true/>
	<key>level</key>
	<integer>11</integer>
	<key>weapons</key>
	<array>
		<string>gun</string>
		<string>stone</string>
		<string>stick</string>
		<string>sword</string>
		<string>shield</string>
	</array>
	<key>relationship</key>
	<dict>
		<key>couple</key>
		<string>Jennifer</string>
		<key>daughter</key>
		<string>Yaching</string>
	</dict>
</dict>
</plist>
